.PostDisplay {
  width: 55vw;
  height: 5vh;
  border: 1px solid #b9b9b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
  padding: 20px;
}

.title-text {
  color: #403d39;
  font-size: 2rem;
  text-decoration: none;
}

.author {
  color: #403d39;
  font-size: 1.5;
}
